* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.notificationsContainer {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999;
  max-width: 400px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.notificationsLi {
  list-style: none;
}

.notificationsLi:not(:last-child) {
  margin-bottom: 10px;
}
